<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Random Blog</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body class="dark-mode">
    <header>
      <h1>Random Blog</h1>
      <% if (req.session.user && req.session.user.isAdmin) { %>
      <p>Administrator</p>
      <div class="dropdown">
        <i class="fas fa-user-circle dropdown-toggle">
          <%= req.session.user.name %></i
        >
        <div class="dropdown-menu">
          <a href="/post">Create Post</a>
          <a href="/admin-panel">Admin Panel</a>
          <a href="/logout">Log Out</a>
        </div>
      </div>
      <% } else if (req.session.user) { %>
      <div class="dropdown">
        <i class="fas fa-user-circle dropdown-toggle">
          <%= req.session.user.name %></i
        >
        <div class="dropdown-menu">
          <a href="/post">Create Post</a>
          <a href="/my-posts">My Posts</a>
          <a href="/logout">Log Out</a>
        </div>
      </div>
      <% } else { %>
      <a href="/login">Login</a>
      <% } %>
    </header>
    <main>
      <script src="/assets/main.js"></script>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var postTexts = document.querySelectorAll(".post-text p");
          var maxLength = 100; // Adjust this value as needed

          postTexts.forEach(function (textElement) {
            var originalText = textElement.textContent;

            if (originalText.length > maxLength) {
              var shortenedText = originalText.slice(0, maxLength) + "...";
              textElement.textContent = shortenedText;
            }
          });
        });
      </script>
      <% data.forEach(function (post) { %>
      <article class="post-card">
        <% if(post.img != ''){ %>
        <img src="<%= post.img %>" alt="post image" />
        <% } %>
        <div class="post-info">
          <h2><a href="/post/<%= post.id %>"><%= post.title %></a></h2>
          <div class="post-text">
            <p><%= post.text %></p>
          </div>
          <div class="post-meta">
            <span class="post-author">
              <i class="user-icon fas fa-user"></i>
              <%= post.name %>
            </span>
            <span class="post-date-time">
              <i class="calendar-icon fas fa-calendar"></i>
              <%= formatDate(post.date) %>
            </span>
          </div>
        </div>
      </article>
      <% }) %>
    </main>
    <script src="/assets/main.js"></script>
  </body>
</html>
