<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/assets/post_style.css" />
    <title>Edit Blog Post</title>
  </head>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
    }

    h2 {
      text-align: center;
      margin-bottom: 30px;
    }

    form {
      max-width: 600px;
      margin: 0 auto;
      text-align: left;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
    }

    input[type="text"],
    input[type="file"] {
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    button[type="submit"] {
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      cursor: pointer;
      float: right;
    }

    a {
      display: inline-block;
      margin-bottom: 20px;
      color: blue;
      text-decoration: none;
    }
  </style>
  <body>
    <h2>Edit Blog Post</h2>
    <a href="/my-posts">Go back</a>
    <br /><br />
    <form
      action="/my-posts/edit/<%= post.id %>"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="title">Title:</label>
        <input
          type="text"
          name="title"
          class="form-control"
          value="<%= post.title %>"
        />
      </div>
      <div class="form-group">
        <label for="text">Text:</label>
        <input
          type="text"
          name="text"
          class="form-control"
          value="<%= post.text %>"
        />
      </div>
      <div class="form-group">
        <label for="img">Image:</label>
        <input type="file" accept="image/*" name="img" class="form-control" />
        <% if (post.img) { %>
        <p>
          Current image:
          <a href="<%= post.img %>" target="_blank"><%= post.img %></a>
        </p>
        <% } %>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </body>
</html>
