<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/assets/post.css" />
    <title>Edit Blog Post</title>
  </head>
  <body class="dark-mode">
    <h2>Edit Blog Post</h2>
    <% if (isAdmin) { %>
    <a href="/admin-panel">Go back</a>
    <% } else { %>
    <a href="/my-posts">Go back</a>
    <% } %>
    <br /><br />
    <form
      action="/my-posts/edit/<%= post.id %>"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="title">Title:</label>
        <input
          type="text"
          name="title"
          class="form-control"
          value="<%= post.title %>"
        />
      </div>
      <div class="form-group">
        <label for="text">Text:</label>
        <input
          type="text"
          name="text"
          class="form-control"
          value="<%= post.text %>"
        />
      </div>
      <div class="form-group">
        <label for="img">Image:</label>
        <input type="file" accept="image/*" name="img" class="form-control" />
        <% if (post.img) { %>
        <p>
          Current image:
          <a href="<%= post.img %>" target="_blank"><%= post.img %></a>
        </p>
        <% } %>
      </div>
      <% if (isAdmin) { %>
      <button type="submit" class="btn btn-primary">Update</button>
      <% } else { %>
      <button type="submit" class="btn btn-primary">Save Changes</button>
      <% } %>
    </form>
  </body>
</html>
