<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/assets/post.css" />
    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />
    <title>Edit Blog Post</title>
  </head>
  <body class="dark-mode">
    <h2>Edit Blog Post</h2>
    <% if (isAdmin) { %>
    <a href="/admin-panel">Go back</a>
    <% } else { %>
    <a href="/my-posts">Go back</a>
    <% } %>
    <br /><br />
    <form
      action="/my-posts/edit/<%= post.id %>"
      method="POST"
      enctype="multipart/form-data"
      onsubmit="return submitForm(event)"
    >
      <div class="form-group">
        <label for="title">Title:</label>
        <input
          type="text"
          name="title"
          class="form-control"
          value="<%= post.title %>"
        />
      </div>
      <div class="form-group">
        <label for="text">Text:</label>
        <textarea name="text" id="text-input" class="form-control" rows="10">
<%= post.text %></textarea
        >
      </div>
      <div class="form-group">
        <label for="img">Image:</label>
        <input type="file" accept="image/*" name="img" class="form-control" />
        <% if (post.img) { %>
        <p>
          Current image:
          <a href="<%= post.img %>" target="_blank"><%= post.img %></a>
        </p>
        <% } %>
      </div>
      <% if (isAdmin) { %>
      <button type="submit" class="btn btn-primary">Update</button>
      <% } else { %>
      <button type="submit" class="btn btn-primary">Save Changes</button>
      <% } %>
    </form>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
      function submitForm(event) {
        event.preventDefault();
        const textInput = document.getElementById("text-input");
        const sanitizedContent = sanitizeHTML(textInput.value);
        textInput.value = sanitizedContent;
        event.target.submit();
      }

      function sanitizeHTML(value) {
        const temp = document.createElement("div");
        temp.textContent = value;
        return temp.innerHTML;
      }
    </script>
  </body>
</html>
